<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        #productNameError, #productPriceError {
            color: red;
        }

        .error-message {
            color: #d9534f
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/adminAssets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
                        <a href="page-invoice.html">Invoice</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html" class="active">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i
                            class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminAssets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/adminAssets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data"
                                onsubmit="return validateForm()">
                                <% if (typeof message !=='undefined' ) { %>
                                    <p class="error-message">
                                        <%= message %>
                                    </p>
                                    <% } %>
                                        <br>
                                        <div class="mb-4">
                                            <label for="productName" class="form-label">Product Name</label>
                                            <!-- <input type="text" placeholder="Enter Product Name" class="form-control" name="productName"> -->

                                            <input type="text" id="productName" name="productName"
                                                placeholder="Enter Product Name" class="form-control" required
                                                onblur="validateName(this.value)" onfocus="clearError('nameError')">
                                            <span id="productNameError" class="error"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label for="productBrand" class="form-label">Product Brand</label>
                                            <input type="text" placeholder="Enter Product Brand" class="form-control"
                                                name="productBrand">
                                        </div>
                                        <div class="mb-4">
                                            <label for="productDescription" class="form-label">Description</label>
                                            <textarea placeholder="Enter Product Description" class="form-control"
                                                name="productDescription"></textarea>
                                        </div>

                                        <div class="mb-4">
                                            <label for="price" class="form-label">Price</label>
                                            <input type="number" id="productPrice" placeholder="Enter Product Price"
                                            class="form-control" name="price" min="0"
                                            onblur="validatePrice(this.value)" onfocus="clearError('priceError')">
                                            <span id="productPriceError" class="error"></span>
                                        </div>                                        
                                        <div class="col-lg-9">
                                            <div class="card mb-4">
                                                <div class="card-header">
                                                    <h4>Product Image</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div id="image-preview-container">
                                                        <!-- Image previews will be displayed here -->
                                                    </div>
                                                    <div>
                                                        <input type="file" class="form-control" name="image" id="image1"
                                                            required>
                                                    </div>
                                                    <div>
                                                        <input type="file" class="form-control" name="image" id="image2"
                                                            required>
                                                    </div>
                                                    <div>
                                                        <input type="file" class="form-control" name="image" id="image3"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4 col-5">
                                                <label for="stock" class="form-label">Stock</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="stock" id="stock"
                                                        value="6" style="text-align: center; font-size: 15px;">
                                                </div>
                                            </div>
                                            <div class="card mb-4">
                                                <div class="card-header">
                                                    <h4>Organization</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row gx-2">
                                                        <div class="col-sm-6 mb-3">
                                                            <label class="form-label">Category</label>
                                                            <!-- <select class="form-select" name="category">
                                                        <option> Men </option>
                                                        <option> Women </option>
                                                        <option> Unisex </option> -->
                                                            </select>
                                                            <select class="form-select" name="category">
                                                                <% categories.forEach(category=> { %>
                                                                    <option value="<%= category._id %>">
                                                                        <%= category.name %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6 mb-3">
                                                            <label class="form-label">Sub-category</label>
                                                            <select class="form-select" name="subCategory">
                                                                <option> EDT </option>
                                                                <option> EDP </option>
                                                            </select>
                                                        </div>
                                                    </div> <!-- row.// -->
                                                </div>
                                            </div> <!-- card end// -->
                                            <div>
                                                <button type="submit"
                                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">Add
                                                    Product</button>
                                            </div>
                                        </div>
                            </form>

                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>

        function decrementStock() {
            const stockInput = document.getElementById('stock');
            let stock = parseInt(stockInput.value);
            if (stock > 0) {
                stock--;
                stockInput.value = stock;
            }
        }

        function incrementStock() {
            const stockInput = document.getElementById('stock');
            let stock = parseInt(stockInput.value);
            stock++;
            stockInput.value = stock;
        }


        function validateName(productName) {
            const productNameError = document.getElementById('productNameError');
            productNameError.textContent = '';

            // Validation for name
            if (!productName || !productName.trim()) {
                productNameError.textContent = 'Valid name is required';
                return false;
            }
            return true;
        }

        function validatePrice(productPrice){
            const productPriceError =  document.getElementById('productPriceError');
            productPriceError.textContent = '';

            if(!productPrice || productPrice<0){
                productPriceError.textContent = 'Valid price is required';
                return false;
            }
            return true;
        }

        function clearError(errorId) {
            document.getElementById(errorId).textContent = '';
            document.getElementById(errorId).textContent = '';
        }

        function validateForm() {
            const productName = document.getElementById('productName').value;
            const productPrice = document.getElementById('productPrice').value;


            if (!validateName(productName) || !validatePrice(productPrice)) {
                return false;
            }
            return true;
        }

        // Function to handle file input change and display image preview
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const imagePreview = document.createElement('img');
                imagePreview.src = reader.result;
                imagePreview.style.maxWidth = '50%';
                imagePreview.style.height = 'auto';

                // Create container for image preview and file input field
                const container = document.createElement('div');
                container.className = 'image-container';
                container.appendChild(imagePreview);

                // Insert container immediately after the file input field
                event.target.parentNode.insertBefore(container, event.target.nextSibling);
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        // Adding event listeners for file input fields
        document.getElementById('image1').addEventListener('change', previewImage);
        document.getElementById('image2').addEventListener('change', previewImage);
        document.getElementById('image3').addEventListener('change', previewImage);


    </script>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
</body>

</html>